/* 
 This CSS code sets the border color and width of the table cells to black and 3px respectively. It also sets the margin-top of the table to -150px and scales the table to 70%. 
.table tr td{
  
  border-color: black;
  border-width: 3px;

}

.table {
    margin-top: -150px;
    transform: scale(70%);
}*/


body{

  font-family: 'Roboto';
  src: url('../../src/fuentes/Roboto-Regular.ttf');
}

.container {
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background-color: #438C36;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.row {
  margin: 10px;
}

input[type="text"], input[type="password"] {
  height: 50px;
  width: 100%;
}

button {
  height: 50px;
  width: 100%;
  
}

.txtTitulo{
  margin-top: 20px;
  font-size: 30px;
}

.divLogo {
  /* position: absolute; */  
  
  margin: auto auto;
  width: 150px;
 
}

.imgLogo {
  
  width: 100%;
  
 
}


.imgregreso {

  width: 75px;
 
}

.imgregreso:hover {

  transform: scale(1.15);
  
  cursor: pointer;
}



.imgConfiguracion{
  margin-top: 20px;
}

.aTitulo{
  font-size: 50px;
}

.imgIconoUsuarios{
  margin-left: 10px;
}

.btnUsuarios{

  background-color: #4BA63B !important ;
  font-size: 20px;
}

.btnUsuarios:hover{
  opacity: 0.9 !important ;
}




