.btnMenu:hover {
    border-color: #333333;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

.btnMenu {
    
    border-radius: 20px;
    border: 5px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   
   .btnMenu:hover .card-button {
    transform: translate(50%, 0%);
    opacity: 1;
   }

   .btnMenu:hover  .imgConfiguracion{
    filter: invert(42%) sepia(100%) saturate(4599%) hue-rotate(219deg) brightness(0%) contrast(114%);
    transition: 0.3s ease-out;
}

   .card-button {
    transform: translate(50%, 25%);
    width: 50%;
    border-radius: 1rem;
    border: none;
    background-color: #333333;
    color: #fff;
    font-size: 1rem;
    /* padding: .5rem 1rem; */
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

  
